<!DOCTYPE html>
<html lang="el">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-R0DFPXXDXL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-R0DFPXXDXL');
  </script>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}">

  <base href="{{ site.baseurl }}">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

  <link rel="shortcut icon" href="/assets/img/ico/favicon.ico">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/forestryio/ubuild-blocks@1.0.0/dist/css/ubuild.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/main.css" type="text/css">

  <script src="https://kit.fontawesome.com/54ac97a0cb.js" crossorigin="anonymous" type="text/javascript"></script>
</head>
<body>